@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&family=Special+Gothic+Condensed+One&family=Special+Gothic+Expanded+One&display=swap');

@import "tailwindcss";

:root {
  --white: #F5F6F6;
  --black: #1F1F21;
  --light-gray: #E9ECEF;
  --mid-gray: #404F68;
  --dark-gray: #333333;
  --pink: #EF004B;
  --navy: #07083C;
  --blue-purple: #374593;
  --purple: #6457A6;
  --plum: #5E4B8B;
  --snipcart-font-family: 'Special Gothic', sans-serif;
}

body {
  background: var(--white);
  color: var(--black);
}

.font-heading {
  font-family: 'Special Gothic Expanded One', 'Special Gothic', sans-serif;
}

.font-sub-heading {
  font-family: 'Special Gothic Condensed One', 'Special Gothic', sans-serif;
}

.font-body {
  font-family: 'Special Gothic', sans-serif;
}

.snipcart__font--secondary,
.snipcart__font--subtitle,
.snipcart-cart__header-title {
  font-family: 'Special Gothic Expanded One', sans-serif !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
}

.snipcart-item-line {
  font-family: 'Special Gothic', sans-serif !important;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
}

.snipcart__font--regular {
    font-weight: 300 !important;
    font-family: 'Special Gothic Condensed One', sans-serif !important;
    letter-spacing: 0.05em;
    font-size: 1.2rem;
}

.snipcart__actions--link {
    text-decoration: none;
    color: #52bcf8;
    font-family: 'Special Gothic Condensed One', sans-serif !important;
    letter-spacing: 0.05em;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Logo */

.text-logo-image {
  background-image: url('/logo/metrica-logo-bg.png');
  background-size: cover;
  background-position: center bottom;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2)
}

/* Hero Image - Raw */

.hero-image-1 {
  background-image: url('/logo/metrica-logo-bg.png');
  background-size: cover;
  background-position: bottom;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 3px rgba(0,0,0,0.4)
}

/* Hero Image - Beauty */

.hero-image-2 {
  background-image: url('/logo/metrica-logo-bg.png');
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2)
}

/* Heading Image - Beauty */

.heading-image {
  background-image: url('/logo/metrica-logo-bg.png');
  background-size: cover;
  background-position: bottom;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 3px rgba(0,0,0,0.4)
}
