@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&family=Special+Gothic+Condensed+One&family=Special+Gothic+Expanded+One&display=swap');

@import "tailwindcss";

:root {
  --white: #F5F6F6;
  --black: #1F1F21;
  --light-gray: #E9ECEF;
  --gray-blue: #587284;
  --pink: #EF004B;
  --navy: #07083C;
  --yellow: #FC6F06;
  --light-pink: #F6268E;
  --royal-blue: #6400FF;
  --light-blue: #078BD1;
  --snipcart-font-family: 'Special Gothic', sans-serif;
}

body {
  background: var(--white);
  color: var(--black);
}

.font-heading {
  font-family: 'Special Gothic Expanded One', 'Special Gothic', sans-serif;
}

.font-sub-heading {
  font-family: 'Special Gothic Condensed One', 'Special Gothic', sans-serif;
}

.font-body {
  font-family: 'Special Gothic', sans-serif;
}

.snipcart__font--secondary,
.snipcart__font--subtitle,
.snipcart-cart__header-title {
  font-family: 'Special Gothic Expanded One', sans-serif !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
}

.snipcart-item-line {
  font-family: 'Special Gothic', sans-serif !important;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
}

.snipcart__font--regular {
    font-weight: 300 !important;
    font-family: 'Special Gothic Condensed One', sans-serif !important;
    letter-spacing: 0.05em;
    font-size: 1.2rem;
}

.snipcart__actions--link {
    text-decoration: none;
    color: #52bcf8;
    font-family: 'Special Gothic Condensed One', sans-serif !important;
    letter-spacing: 0.05em;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}